<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 div-raised">
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put}) do |f| %>
  <div class="field">
     <paper-input label="First Name"  type="text" id="user_first_name_paper" value="<%= current_user.first_name %>">
       
     </paper-input>
      <input type="hidden" name="user[first_name]" type="text" id="user_first_name" />
     
      <paper-input label="Last Name"  type="text" id="user_last_name_paper" value="<%= current_user.last_name %>"></paper-input>
      <input type="hidden" name="user[last_name]" type="text" id="user_last_name" />
  </div>
  <div class="field">

    <paper-input label="Email"  type="email"  id="user_email_paper" value="<%= current_user.email %>"></paper-input>
    <input type="hidden" name="user[email]" id="user_email" />

  </div>
  
  <div class="field">
    <paper-input label="API Key"  type="password"  id="api_key_paper" readonly value="<%= current_user.api_key %>"></paper-input>
    <paper-button id="api_key_button" onclick="showHideAPI(this)" raised noink>Show Key</paper-button>
    <input type="hidden" name="user[api_key]" id="user_api_key" value="<%= current_user.api_key %>" />
  </div>
  
  <div class="field">

    <% f.label :password %>
    <paper-input label="Password  <% if @minimum_password_length %>
    (<%= @minimum_password_length %> characters minimum)
    <% end %>"  type="password" id="user_password_paper" ></paper-input>
    <input type="hidden"  name="user[password]" id="user_password" />
    
    <% f.password_field :password,  autocomplete: "off", class: "form-control" %>

  </div>

  <div class="field">

    <paper-input label="Password Confirmation"  type="password" id="user_password_confirmation_paper"></paper-input>
    <input type="hidden"  name="user[password_confirmation]" id="user_password_confirmation" />
    <% f.label :password_confirmation %>
    <% f.password_field :password_confirmation,  autocomplete: "off" %>
  </div>
  <div class="field">

    <paper-input label="Current Password"  type="password" id="user_current_password_paper"></paper-input>
    <input type="hidden"  name="user[current_password]" id="user_current_password" />
    <% f.label :current_password %>
    <% f.password_field :current_password,  autocomplete: "off" %>
  </div>
  <!--<div class="field">
    <paper-input label="Time Zone"  type="text"  id="time_zone_paper"></paper-input>
    <input type="hidden" name="user[time_zone]" id="user_time_zone" />
  </div>-->
 

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

   
  <div class="relative">
    <paper-button onclick="SubmitEdit()" elevation="1" raised noink>Submit Changes</paper-button>
  </div>
<% end %>
 
<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, class: "btn btn-danger", method: :delete %></p>

<%= link_to "Back", :back %>

</div>
</div>
</div>
<%= devise_error_messages! %>

<script>
  
  function SubmitEdit() {
    
    document.getElementById('user_first_name').value = document.getElementById('user_first_name_paper').value;
    document.getElementById('user_last_name').value = document.getElementById('user_last_name_paper').value;
    document.getElementById('user_email').value = document.getElementById('user_email_paper').value;
    document.getElementById('user_password').value = document.getElementById('user_password_paper').value;
    document.getElementById('user_password_confirmation').value = document.getElementById('user_password_confirmation_paper').value;
    document.getElementById('user_current_password').value = document.getElementById('user_current_password_paper').value;
    document.getElementById('edit_user').submit();
    
  }
  
  function showHideAPI(btnobj){
    
    var type = document.getElementById('api_key_paper').type;
    
    
    if(type == "password")
      {
        document.getElementById('api_key_paper').type = "text";
        btnobj.value = "Hide Key";        
      }
    else
      {
        document.getElementById('api_key_paper').type = "password";
        btnobj.value = "Show Key";
        
      }
  }
  
</script>