<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 div-raised">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <h2 class="text-center">Sign up</h2>

      <div class="field">

        <paper-input label="Email"  type="email"  id="user_email_paper"></paper-input>
        <input type="hidden" name="user[email]" id="user_email" />
        <% f.label :email %>
        <% f.email_field :email,  class: "form-control" %>

      </div>

      <div class="field">

        <% f.label :password %>
        <paper-input label="Password  <% if @minimum_password_length %>
        (<%= @minimum_password_length %> characters minimum)
        <% end %>"  type="password" id="user_password_paper" ></paper-input>
        <input type="hidden"  name="user[password]" id="user_password" />
        
        <% f.password_field :password,  autocomplete: "off", class: "form-control" %>

      </div>

      <div class="field">

        <paper-input label="Password Confirmation"  type="password" id="user_password_confirmation_paper"></paper-input>
        <input type="hidden"  name="user[password_confirmation]" id="user_password_confirmation" />
        <% f.label :password_confirmation %>
        <% f.password_field :password_confirmation,  autocomplete: "off" %>
      </div>
      
       
        <paper-input label="First Name"  type="text" id="user_first_name_paper"></paper-input>
        <input type="hidden" name="user[first_name]" type="text" id="user_first_name" />
      
        
        <paper-input label="Last Name"  type="text" id="user_last_name_paper"></paper-input>
          <input type="hidden" name="user[last_name]" type="text" id="user_last_name" />
    
      
        <% # f.submit "Sign up", class: "btn btn-large btn-success btn-block" %>
        <div class="relative">
        <paper-button onclick="submitSignUp()" raised>Sign Up</paper-button>
      </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>


<script>
  
  function submitSignUp() {
    
    document.getElementById('user_email').value = document.getElementById('user_email_paper').value;
    document.getElementById('user_password').value = document.getElementById('user_password_paper').value;
    document.getElementById('user_password_confirmation').value = document.getElementById('user_password_confirmation_paper').value;
    document.getElementById('user_first_name').value = document.getElementById('user_first_name_paper').value;
    document.getElementById('user_last_name').value = document.getElementById('user_last_name_paper').value;
    document.getElementById('new_user').submit();
    
  }
  
</script>

