<div class="jumbotron">

  <div class="container">

    <div class="text-center">
      <%= image_tag 'EffEval18_a_Transparent_bg.png', class:"text-center img-responsive img-center" %>
      <div class="container">
        <div class="row">
          <h2>Improve Your Home With Effeval</h2>
        </div>

        <div class="row">
          <div class="col-md-4">
            
            
            <span style="font-size:5em;" class="glyphicon glyphicon-user"></span>
            <p>Create an Account</p>
          </div>
          <div class="col-md-4">
           
            <span style="font-size:5em;" class="glyphicon glyphicon-cog"></span>
            <p>Register your Equipment</p>
          </div>
          <div class="col-md-4">
            <div class="">
           
            <span style="font-size:5em;" class="glyphicon glyphicon-home"></span>
            </div>
            <p>Use the portal</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <span style="font-size:5em;" class="glyphicon glyphicon-tint"></span>
            <p>
              <span style="vertical-align:middle;">5,000,000 homes suffer water damage per year</span>
            </p>
          </div>

          <div class="col-md-4">
            <span style="font-size:5em;" class="glyphicon glyphicon-fire"></span>
            <p>
              <span style="vertical-align:middle;">370,000 homes are ruined from house fires per year</span>
            </p>
          </div>

          <div class="col-md-4">
            <span style="font-size:5em;" class="glyphicon glyphicon-leaf"></span>
            <p>
              <span style="vertical-align:middle;">Being aware of household energy usage can help the environment and save you money</span>
            </p>
          </div>

        </div>

        <div class="row">
          <h3>Why You Should Try effEval</h3>
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <p>
              effEval, provides you with instant access to information about your home. Providing you with deep insight to potential problems and offering persistent health reports of your home.

            </p>
          </div>

        </div>
        <div class="row">
          <h3>Get Reports</h3>
          <div class="col-md-6" id="highChart"></div>
          <div class="col-md-6" id="fireFloodDiv"></div>
        </div>

      </div>
    </div>
  </div>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/data.js"></script>
  <script src="https://code.highcharts.com/modules/drilldown.js"></script>

  <script>
    $(function () {
      $('#highChart').highcharts({
        title: {
          text: 'Monthly Average Temperature',
          x: -20 //center
        },
        subtitle: {
          text: 'Source: WorldClimate.com',
          x: -20
        },
        xAxis: {
          categories: [
            'Jan',
            'Feb',
            'Mar',
            'Apr',
            'May',
            'Jun',
            'Jul',
            'Aug',
            'Sep',
            'Oct',
            'Nov',
            'Dec'
          ]
        },
        yAxis: {
          title: {
            text: 'Temperature (°F)'
          },
          plotLines: [
            {
              value: 0,
              width: 1,
              color: '#808080'
            }
          ]
        },
        tooltip: {
          valueSuffix: '°F'
        },
        legend: {
          layout: 'vertical',
          align: 'right',
          verticalAlign: 'middle',
          borderWidth: 0
        },
        series: [
          {
            name: 'Weekdays',
            data: [
              62,
              62,
              63,
              65,
              68,
              73,
              77,
              76,
              74,
              70,
              67,
              65
            ]
          }, {
            name: 'Weeknights',
            data: [
              67,
              67,
              67,
              68,
              68,
              68,
              68,
              68,
              68,
              68,
              67,
              67
            ]
          }, {
            name: 'Weekend Days',
            data: [
              67,
              67,
              67,
              68,
              68,
              69,
              69,
              68,
              68,
              68,
              67,
              67
            ]
          }, {
            name: 'Weekend Nights',
            data: [
              62,
              63,
              64,
              64,
              64,
              63,
              63,
              63,
              63,
              62,
              62,
              62
            ]
          }
        ]
      });
    });

    $(function () {
      // Create the chart
      $('#fireFloodDiv').highcharts({
        chart: {
          type: 'column'
        },
        title: {
          text: 'Room Temperatures'
        },
        subtitle: {
          text: 'Current Temperatures Within Your Home'
        },
        xAxis: {
          type: 'category'
        },
        yAxis: {
          title: {
            text: 'Temperature'
          }

        },
        legend: {
          enabled: false
        },
        plotOptions: {
          series: {
            borderWidth: 0,
            dataLabels: {
              enabled: true,
              format: '{point.y:.1f} °F'
            }
          }
        },

        tooltip: {
          headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
          pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f} °F</b><br/>'
        },

        series: [
          {
            name: 'Rooms',
            colorByPoint: true,
            data: [
              {
                name: 'Room1',
                y: 56.33,
                drilldown: 'Room1'
              }, {
                name: 'Room2',
                y: 64.03,
                drilldown: 'Room2'
              }, {
                name: 'Room3',
                y: 75.38,
                drilldown: 'Room3'
              }, {
                name: 'Room4',
                y: 64.77,
                drilldown: 'Room4'
              }, {
                name: 'Room5',
                y: 60.91,
                drilldown: 'Room5'
              }, {
                name: 'Room6',
                y: 60.2,
                drilldown: null
              }
            ]
          }
        ],
        drilldown: {
          series: [
            {
              name: 'Room1',
              id: 'Room1',
              data: [
                [
                  'Temperature Now', 56.33
                ],
                [
                  '15 Minutes Ago', 58.33
                ],
                [
                  '30 Minutes Ago', 60
                ],
                [
                  '1 Hour Ago', 65
                ],
                [
                  '1.5 Hours Ago', 68
                ],
                ['2 Hours Ago', 69]
              ]
            }, {
              name: 'Room2',
              id: 'Room2',
              data: [
                [
                  'Temperature Now', 64.03
                ],
                [
                  '15 Minutes Ago', 68
                ],
                [
                  '30 Minutes Ago', 68.11
                ],
                [
                  '1 Hour Ago', 69.33
                ],
                [
                  '1.5 Hours Ago', 71.06
                ],
                ['2 Hours Ago', 70.5]
              ]
            }, {
              name: 'Room3',
              id: 'Room3',
              data: [
                [
                  'Temperature Now', 75.38
                ],
                [
                  '15 Minutes Ago', 72.2
                ],
                [
                  '30 Minutes Ago', 71.11
                ],
                [
                  '1 Hour Ago', 73.33
                ],
                [
                  '1.5 Hours Ago', 74.06
                ],
                ['2 Hours Ago', 75.5]
              ]
            }, {
              name: 'Room4',
              id: 'Room4',
              data: [
                [
                  'Temperature Now', 64.77
                ],
                [
                  '15 Minutes Ago', 67.2
                ],
                [
                  '30 Minutes Ago', 68.11
                ],
                [
                  '1 Hour Ago', 65.33
                ],
                [
                  '1.5 Hours Ago', 71.06
                ],
                ['2 Hours Ago', 70.5]
              ]
            }, {
              name: 'Room5',
              id: 'Room5',
              data: [
                [
                  'Temperature Now', 60.91
                ],
                [
                  '15 Minutes Ago', 63.2
                ],
                [
                  '30 Minutes Ago', 65.11
                ],
                [
                  '1 Hour Ago', 65.33
                ],
                [
                  '1.5 Hours Ago', 67.06
                ],
                ['2 Hours Ago', 70.5]
              ]
            }
          ]
        }
      });
    });
  </script>
