<div class="jumbotron">
  
  <div class="container">
<div class="col-md-10 div-raised">
<h1>Hello <span><%= @current_user.first_name %>,</span></h1>

<!--For each node attached to the user , display node w/ temperature, -->
<div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <div class="col-md-4">
              <svg  id="fillgauge2" width="97%" height="200" onclick="gauge2.update(NewValue());"></svg>
                <p><span style="vertical-align:middle; text-align:center;">Temperature</span></p>
            </div>
          
          <div class="col-md-4"><svg  id="fillgauge1" width="97%" height="200" onclick="gauge1.update(NewValue());"></svg>
          <p><span style="vertical-align:middle;text-align:center;">Humidity</span></p></div>
          
          <div class="col-md-4"><svg  id="fillgauge3" width="97%" height="200" onclick="gauge3.update(NewValue());"></svg>
          <p><span style="vertical-align:middle; text-align:center;">Light</span></p></div>
         
        </div>
        
</div>
<div class="row">
    <div class="col-md-10">
       
        <table class="table table-striped" style="color:grey; width: 100%">
            <thead>
               
                <th>Most Inefficient Room</th>
                <th>Coldest Room on Avg</th>
                <th>Least Humid Room on Avg</th>
                <th>Brightest Room on Avg</th>
            </thead>
            <tbody style=''>
                <%= get_quick_stats_table() %>
                
            </tbody>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <h2 style="align:center">Home</h2>
        <table class="table table-striped" style="color:grey; width: 100%">
            <thead>
                <th>Room</th>
                <th>Temperature</th>
                <th>Humidity</th>
                <th>Light</th>
            </thead>
            <tbody style=''>
                <%= get_index_table() %>
                
            </tbody>
        </table>
    </div>
    <div class="col-md-1"></div>
</div>


</div>
</div>
<script> 

var config1 = liquidFillGaugeDefaultSettings();
    config1.circleColor = "#90EE90";
    config1.textColor = "#90EE90";
    config1.waveTextColor = "#008000";
    config1.waveColor = "#90EE90";
    config1.circleThickness = 0.01;
    config1.textVertPosition = 0.5;
    config1.waveAnimateTime = 6000;
   
        
    var gauge1 = loadLiquidFillGauge("fillgauge1", <%= @current_user.get_current_humidity_avg() %>, config1);
    
    var config2 = liquidFillGaugeDefaultSettings();
    config2.circleColor = "#90EE90";
    config2.textColor = "#90EE90";
    //config2.waveTextColor = "#008000";
    config2.waveTextColor = "white";
    config2.waveColor = "#90EE90";
    config2.circleThickness = 0.01;
    config2.textVertPosition = 0.5;
    config2.waveAnimateTime = 6000;
    config2.displayPercent= false;
    config2.displayTemp = true;
    config2.displayFar = true;
        
    var gauge2 = loadLiquidFillGauge("fillgauge2", <%= @current_user.get_current_temp_avg() * 2 + 30 %>, config2);
    
    var config3 = liquidFillGaugeDefaultSettings();
    config3.circleColor = "#90EE90";
    config3.textColor = "#90EE90";
    config3.waveTextColor = "#008000";
    config3.waveColor = "#90EE90";
    config3.circleThickness = 0.01;
    config3.textVertPosition = 0.5;
    config3.waveAnimateTime = 6000;
        
    var gauge3 = loadLiquidFillGauge("fillgauge3", <%= @current_user.get_current_light_avg %>, config3);
    
    function NewValue(){
        if(Math.random() > .5){
            return Math.round(Math.random()*100);
        } else {
            return (Math.random()*100).toFixed(1);
        }
    }
    function NewValueTemperature(){
        
    }
    </script>