<%= @nodeID = params[:node] %>
<div class="jumbotron">
    <h3>Room 1</h3>
    <table class="table table-striped" style="color:grey; width: 100%">
            <thead>
                <td></td>
                <td>Temperature</td>
                <td>Humidity</td>
                <td>Light</td>
            </thead>
            <tbody style=''>
                <%= get_room_table(@nodeID) %>
            </tbody>
        </table>
        <div class="row" style="margin-bottom: 100px;">
            <div class="col-md-3"></div>
            <div class="col-md-6" id="heatMap"></div>
            <div class="col-md-3"></div>
      </div>
</div>