<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 div-raised">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <h2 class="text-center">Log in</h2>
          <div class="field">
            <% f.label :email %>
            <% f.email_field :email, autofocus: true, class: "form-control" %>
            <paper-input label="Email" id="user_email_paper"></paper-input>
            <input type="hidden" name="user[email]" id="user_email" />
          </div>

          <div class="field">
            <% f.label :password %>
            <% f.password_field :password, autocomplete: "off", class: "form-control" %>
            <paper-input label="Password" type="password" id="user_password_paper"></paper-input>
            <input type="hidden" name="user[password]" id="user_password" />
          </div>

          <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
          <% end -%>

          <div class="actions">
            <% f.submit "Log in", class: "btn btn-large btn-success btn-block" %>
            <paper-button onclick="SubmitLogIn()" style="padding:0;" raised>Log in</paper-button>
          </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

<script>
  
  function SubmitLogIn() {
    
    document.getElementById('user_email').value = document.getElementById('user_email_paper').value;
    document.getElementById('user_password').value = document.getElementById('user_password_paper').value;
    document.getElementById('new_user').submit();
    
  }
  
</script>