/*



*/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "jasny-bootstrap";

//charts
.chart {
    min-width: 320px;
    max-width: 800px;
    height: 220px;
    margin: 0 auto;
}

#fork {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

.legend {
    display: inline-block;
    float: left;
}

.legend .title {
    display: block;
    margin-bottom: 0.5em;
    line-height: 1.2em;
    padding: 0 0.3em;
    float: left;
}

.legend .color-sample {
    display: block;
    float: left;
    width: 1em;
    height: 1em;
    border: 2px solid; /* Comment out if you don't want to show the fillColor */
    border-radius: 0.5em; /* Comment out if you prefer squarish samples */
    margin-right: 0.5em;
}

.chart-legend ul {
    list-style: none;   
}
.chart-legend li {
    text-indent: 20px;
    line-height: 1em;
}
.chart-legend li span{
    display: block;
    float: left;
    width: 1em;
    height: 1em;
    border: 2px solid; /* Comment out if you don't want to show the fillColor */
    border-radius: 0.5em; /* Comment out if you prefer squarish samples */
    margin-right: 0.5em;
}



//general
.nav-logo{
  width: 10em;
  height: auto;
}


.img-placeholder{
  width: 100%;
  height: 400px;
  background-color: black;
}

.circle-div {
  
  background-color: #2C3539;
  border-radius: 50%;
  
}

.img-center{
 margin: 0 auto; 
}

.btn {
  
  margin-top: 1em;
  height: 36dip;
}


.alert-notice {
  
   background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
}

body {
  
  background-color: #303030;
  color: white;
  padding-top: 60px;
  //font-size: 100%;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  
  
}

body, h1, h2, h3, h4, h5, h6 {
  
  font-size-adjust: .5;
  
}

p, i {
  
  opacity:.7;
  
}



.div-raised {
  
  background-color: #424242;
  border-radius: 25px;
  margin-top:7em;
  margin-left:5em;
  margin-right:5em;
  margin-bottom:3em;
}

.jumbotron  {
  
  background-color: #424242;
  border-radius: 25px;
  margin-left:5em;
  margin-right:5em;
  box-shadow:5px 5px 20px #000000;
  margin-top:7em;
  margin-bottom:3em;


  
} 

.glyphicon
{
  opacity:.50;
  
}



li.active {
  
  box-shadow: 0px 5px 3px -5px #000000;
}

.form-control:focus {
  
  border-color: lightgreen;
  box-shadow: inset 0 1px 1px rgba(0,0,0, 0.075), 0 0 8px rgba(144,238,144, 0.6);
}
.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
	background-color: #303030;
}



//fade in load
#content {
  opacity:0;
  font-size: 1em;
  line-height: 1.375;
  -webkit-transition: opacity .5s ease-in;
       -moz-transition: opacity .5s ease-in;
        -ms-transition: opacity .5s ease-in;
         -o-transition: opacity .5s ease-in;
            transition: opacity .5s ease-in;
  
}

#content.load{
  opacity:1;
}

@media (min-width:980px){
  body {
    
    padding-top:0px;
    
  }
}




//slide out menu

 /* adjust body when menu is open */
body.slide-active {
    overflow-x: hidden
}
/*first child of #page-content so it doesn't shift around*/
.no-margin-top {
    margin-top: 0px!important
}
/*wrap the entire page content but not nav inside this div if not a fixed top, don't add any top padding */
#page-content {
    position: relative;
    // padding-top: 70px;
    left: 0;
}
#page-content.slide-active {
    padding-top: 0
}



/* put toggle bars on the left :: not using button */
#slide-nav .navbar-toggle {
    cursor: pointer;
    position: relative;
    line-height: 0;
    float: left;
    margin: 0;
    width: 30px;
    height: 40px;
    padding: 10px 0 0 0;
    border: 0;
    background: transparent;
}
/* icon bar prettyup - optional */
#slide-nav .navbar-toggle > .icon-bar {
    width: 100%;
    display: block;
    height: 3px;
    margin: 5px 0 0 0;
}
#slide-nav .navbar-toggle.slide-active .icon-bar {
    background: #9CFF00;
}
.navbar-header {
    position: relative
}


.navbar.navbar-fixed-top.slide-active {
    position: relative
}

@media (max-width:767px) { 
  //mobile
  body {
    
    padding-top: 0;
  }
  
  .jumbotron  {
  
  background-color: #424242;
  border-radius: 25px;
  margin-left:1em;
  margin-right:1em;
  box-shadow:5px 5px 20px #000000;
  margin-top:7em;
  margin-bottom:3em;

} 

  
	#slide-nav .container {
	    margin: 0!important;
	    padding: 0!important;
      height:100%;
	}
	#slide-nav .navbar-header {
	    margin: 0 auto;
	    padding: 0 15px;
	}
	#slide-nav .navbar.slide-active {
	    position: absolute;
	    width: 40%;
	    top: -1px;
	    z-index: 1000;
	}
	#slide-nav #navbar {
	    background: #f7f7f7;
	    left: -100%;
	    width: 40%;
	    min-width: 0;
	    position: absolute;
	    padding-left: 0;
	    z-index: 2;
	    top: -8px;
	    margin: 0;
	}
	#slide-nav #navbar .navbar-nav {
	    min-width: 0;
	    width: 100%;
	    margin: 0;
	}

	#slide-nav #navbar .navbar-nav .dropdown-menu li a {
	    min-width: 0;
	    width: 40%;
	    white-space: normal;
	}

	#slide-nav {
	    border-top: 0
	}

	#slide-nav.navbar-inverse #navbar {
	    background: #333
	}


#navbar-height-col {
	    position: fixed;
	    top: 0;
	    height: 100%;
      bottom:0;
	    width: 40%;
	    left: -40%;
	    background: #f7f7f7;
	}
	#navbar-height-col.inverse {
	    background: #333;
	    z-index: 1;
	    border: 0;
	}
	#slide-nav .navbar-form {
	    width: 100%;
	    margin: 8px 0;
	    text-align: center;
	    overflow: hidden;
	    /*fast clearfixer*/
	}
	#slide-nav .navbar-form .form-control {
	    text-align: center
	}
	#slide-nav .navbar-form .btn {
	    width: 100%
	}
	
	#content {
	  
	  //line-height: 1.25;
	}
	.nav-logo{
  width: 100px;
  height: auto;
  text-align:center;
  
}
	
}
@media (min-width:768px) { 
  //desktop
	#page-content {
	    left: 0!important
	}
	.navbar.navbar-fixed-top.slide-active {
	    position: fixed
	}
	.navbar-header {
	    left: 0!important
	}
	.navbar-nav > li > a {
	    
	    padding-top:25px;
	    padding-bottom:25px;
	}
	
	.navbar {
		margin-bottom: 7em;
	}
	
	#content {
	  
	 // line-height: 1.375;
	}
	
}

//link style

a:link {
  color: lightgreen;
}

a:visited {
  color:lightgreen;
}

a:hover {
  color:green;
}

a:active {
  color:green;
}



