<div class="jumbotron test">
  <div class="container">
    <div class="text-center">
      <div class="container">
        
          <div class="row" style="margin-bottom: 100px;"><!-- row 2 -->
                <div style="width: 90%">
                <h2>Reports</h2>
                </div>
          </div>

          
          <div class="row" style="margin-bottom: 100px;">
            
              <div class="col-md-6">
                <div style="width: 90%">
                   <h2>Temperature By Room</h2>
                   <canvas id="chartLineTempsByNode"  width="500" height="333"></canvas>
                   <div id="lineTempLegend"></div>
                </div>
              </div>
              
              <div class="col-md-6">
                <div style="width: 90%">
                   <h2>Humidity By Room</h2>
                   <canvas id="chartLineHumidityByNode"  width="500" height="333"></canvas>
                   <div id="lineHumidtyLegend"></div>
                </div>
              </div>
          
          </div>
          

          
          <div class="row" style="margin-bottom: 100px;">
            <div class="col-sm-3"></div>
              <div class="col-md-6">
                <div style="width: 90%">
                <h2>Light By Room</h2>
                <canvas id="chartLineLightByNode"  width="500" height="333"></canvas>
                <div id="lineLightLegend"></div>
                </div>
              </div>
          </div>
    
  
          <div class="row" style="margin-bottom: 100px;">
           	<!--<div class="col-md-6" id="heatMap"></div>-->
          </div>
  </div>
</div>


<script>
//START HIGHCHARTS heatMap


//END HIGHCHARTS heatMap


//START chartLineTempsByNode
$(document).on('page:change', function(event) {
	<%= generate_javascript_temps %>

	var chartLineTempsByNodeData = {
		labels: ['12 AM', '1 AM', '2AM', '3AM', '4 AM',  '5 AM', '6 AM', '7 AM',  '8 AM', '9 AM',  '10 AM', '11 AM', '12 PM', '1 PM', '2PM', '3PM', '4 PM',  '5 PM', '6 PM', '7 PM',  '8 PM', '9 PM',  '10 PM', '11 PM'],
		datasets: [<%= generate_javascript_temps_data %>

		]
	}
	var chartLineTempsByNode = document.getElementById('chartLineTempsByNode').getContext('2d');
	var chartLineTempsByNode = new Chart(chartLineTempsByNode).Line(chartLineTempsByNodeData, {
		responsive: true
	});
	
	    legend(document.getElementById("lineTempLegend"), chartLineTempsByNodeData);

//END chartLineTempsByNode


//START chartLineHumidityByNode
<%= generate_javascript_humidity %>


	var chartLineHumidityByNodeData = {
		labels: ['12 AM', '1 AM', '2AM', '3AM', '4 AM',  '5 AM', '6 AM', '7 AM',  '8 AM', '9 AM',  '10 AM', '11 AM', '12 PM', '1 PM', '2PM', '3PM', '4 PM',  '5 PM', '6 PM', '7 PM',  '8 PM', '9 PM',  '10 PM', '11 PM'],
		datasets: [
	<%= generate_javascript_humidity_data %>
		]
	}
	var chartLineHumidityByNode = document.getElementById('chartLineHumidityByNode').getContext('2d');
	var chartLineHumidityByNode = new Chart(chartLineHumidityByNode).Line(chartLineHumidityByNodeData, {
		responsive: true
	});
	
	    legend(document.getElementById("lineHumidtyLegend"), chartLineHumidityByNodeData);

//END chartLineHumidityByNode

//START chartLineLightByNode
 
	<%= generate_javascript_light %>

	var chartLineLightByNodeData = {
		labels: ['12 AM', '1 AM', '2AM', '3AM', '4 AM',  '5 AM', '6 AM', '7 AM',  '8 AM', '9 AM',  '10 AM', '11 AM', '12 PM', '1 PM', '2PM', '3PM', '4 PM',  '5 PM', '6 PM', '7 PM',  '8 PM', '9 PM',  '10 PM', '11 PM'],
		datasets: [ <%= generate_javascript_light_data %>

		]
	}
	var chartLineLightByNode = document.getElementById('chartLineLightByNode').getContext('2d');
	var chartLineLightByNode = new Chart(chartLineLightByNode).Line(chartLineLightByNodeData, {
		responsive: true
	});
	
	    legend(document.getElementById("lineLightLegend"), chartLineLightByNodeData);

//END chartLineLightByNode

});


</script>