<!DOCTYPE html>
<html>
<head>
  <title>Effeval</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'liquidFillGauge', 'data-turbolinks-track' => true %>
  
  <%= html_import_tag 'application'%>
  <%= csrf_meta_tags %>
  <meta name="theme-color" content="#000000">
  <meta name="viewport" content="width=device-width, initial-scale=1" >
  <%= favicon_link_tag 'icon.png', type: 'image/png' %>
  <style is="custom-style">
    :root {
	
	    --paper-input-container-color: #9d9d9d;
	    --paper-input-container-focus-color:lightgreen;
	    --paper-input-container-input-color:white;
	
    }
  </style>
  <script src="https://d3js.org/d3.v3.min.js" language="JavaScript"></script>
</head>
<body>
 
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="slide-nav">
    <div class="container">
      
      <div class="navbar-header">
        <a class="navbar-toggle">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <!--<a class="navbar-brand" href="/"></a>-->
        <a class="" href="/"><%= image_tag 'EffEval18_a_Transparent_bg.png', class:"nav-logo text-center img-responsive" %></a>
      </div>
      
      <div id="navbar">
        
        <ul class="nav navbar-nav">
          
          
              <% if !user_signed_in? %>
                <%= content_tag(:li, link_to('Sign In', new_user_session_path), class: ("active" if params[:controller] == 'devise/sessions')) %>
                <%= content_tag(:li, link_to('Sign Up', new_user_registration_path), class: ("active" if params[:controller] == 'devise/registrations')) %>
                <% else %>
                <%= content_tag(:li, link_to('Home', '/portal'), class: ("active" if params[:controller] == 'portal')) %>
                <%= content_tag(:li, link_to('Reports', '/reports'), class: ("active" if params[:controller] == 'reports')) %>
                <%= content_tag(:li, link_to('Settings', edit_user_registration_path), class: ("active" if params[:controller] == 'devise/registrations')) %>
                <%= content_tag(:li, link_to('Logout', destroy_user_session_path, :method => :delete)) %>
              <% end %>
              
        </ul>
        
        <div class="navbar-right">
          
       
         
        </div>
        
      </div>
      
    </div>  
    
  </div>
  
  <div id="page-content" >
    <div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
  
 </div>
 </div>
  </div>
  
<!--  <div class="spinner sphere" id="sphere"  >-->
<!--  <div class="inner">-->
<!--    <div class="disc"></div>-->
<!--    <div class="disc"></div>-->
<!--    <div class="disc"></div>-->
<!--    <div class="disc"></div>-->
<!--    </div>-->
<!--</div>-->
  <div id="content">
 <%= yield %>
 </div>
 
 
</div>
<%= render 'layouts/messages' %>
</body>
</html>
